.tab-list {
  margin: 0; 
  padding: 0;
  display: block;
  border-bottom: 1px solid #CCCCCC;
}

.tab-list li {
  display: inline;
}

.tab-list a {
  display: inline-block;
  text-decoration: none;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-bottom-color: #CCCCCC;
  margin-bottom: -1px;
  border-radius: 4px 4px 0 0;
}

.tab-list a:hover, .tab-list a:active {
  border-color: #CCCCCC;
}

.tab-list .tab-in>a {
  background-color: #FFFFFF;
  color: #999999;
  border-color: #CCCCCC;
  border-bottom-color: #FFFFFF;
}

.tab-content {
  position: relative;
}

.tab-pane {
  transition: opacity .15s linear;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

div.tab-in {
  opacity: 1;
}
